<h2>Skills</h2>
<form (submit)="ajouterSkill()">
<div class="mb-3">
    <label class="form-label">Titre</label>
    <input class="form-control" type="text" [(ngModel)]="skill.titre" name="titre" placeholder="Titre">
</div>
<div class="mb-3">
    <label class="form-label">Niveau</label>
    <input class="form-control" type="text" [(ngModel)]="skill.niveau" name="niveau" placeholder="Titre">
</div>
<div class="mb-3">
    <button class="btn btn-primary">Ajouter</button>
    </div>
</form>
<h2>Liste</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Niveau</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let skill of skills; let i=index">
            <td>{{i+1}}</td>
            <td>{{skill.titre}}</td>
            <td>{{skill.niveau}}</td>
            <td>
                <button class="btn btn-danger">Supprimer</button>
            </td>
        </tr>
    </tbody>
